* {
  box-sizing: border-box; /* dadurch können die Größen mit dem Boxmodel dargestellt werden (margin, padding...) */
}

.row{
  display: flex;     /* die Sachen werden mit Flex-Boxen dargestellt */
}
header,footer {
  background-color: #5a5757;  /* Hintregrundfarbe */
  color: #ffffff;             /* Schriftfarbe */
  padding: 15px;                /* Abstand zum Seitenrand */
}
[class*="col-"] {
  float: left;        /* linksbündig */
  padding: 15px;      /* Abstand zum header and footer weil die eine extra Box sind */
}

/* die verschiedenen Größen der Klassen*/
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

@media only screen and (max-width: 80em){   /* Media-Query für eine bestimmte Bildschirmgröße */
  .row{
    flex-direction: column;                 /* Alles steht linksbündig und untereinander */
  }
  [class*="col-"], input {
    width: 100%;
  }
}
@media screen and (max-width: 35em) {       /* Media-Query, für den Abstand zum Rand des Bilschirmes (vor der Border) */
  body {
    padding: 0;
  }
}
body {
  padding: 50px;    /* Abstand zum Rand des Bilschirmes */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;   /* Schriftart */
}
a {
  color: #00B7FF;   /* Farbe der Links */
}
.tagging label{           /* Für die Beschriftungen der Listen */
  padding-top: 7px;       /* Abstand zum nächst-oberen Objekt */
  padding-bottom: 7px;    /* Abstand zum nächst-unteren Objekt */
  font-weight: bold;      /* Dicke Schrift */
  display: block;         /* Die Labels stehen über den Boxen */

}
.taglist li{
  padding: 5px;                    /* Abstand zum Rand */
  margin-bottom: 8px;              /* Abstand zum unteren Element */
  background-color: #33b5e5;    /* Hintergrundfarbe */
  color: #ffffff;               /* Schriftfarbe */
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);   /* Schatten */
}
.taglist ul{
  list-style-type: none;
  margin: 0;      /* Platz um das Element herum (außerhalb der Border) */
  padding: 0;     /* Platz um das Element herum (innerhalt der Border) */
}
.taglist li:hover{                  /* Wenn man über die blauen Dinger hovert */
  background-color: #cc0029;
}
#result-img{
  width: 100%;   /* Größe der Bildes */
}